<div class="row m-0 mt-2">
    {{> sidebar }}
    <main class="col-sm-12 col-md-6 mt-3">
        <div class="content bg-dark p-3">
            <p class="h3 p-3">{{uppercase title}} <a id="admin_prof_asist" href="adminProfAsistUrejanje"><i class="far fa-edit fa-xs"></i></a> <a id="admin_prof_asist" href="#"><i class="far fa-trash-alt fa-xs"></i></a></p>
            <div class="vsebina">
                <p><b>AKADEMSKI NAZIV: </b>{{prof_asist_data.akademski_naziv}}</p>
                <p><b>IZOBRAZBA: </b>{{prof_asist_data.izobrazba}}</p>
                <p><b>IME IN PRIIMEK: </b>{{prof_asist_data.ime_priimek}}</p>
                <p><b>OPIS: </b>{{prof_asist_data.opis}}</p>
            </div>
        </div>
    </main>
    <div class="slika-prof col-sm-7 col-md-3">
        <img src="/public/img/dejan_lavbic.jpg" class="rounded" alt="Lavbic" width="60%">
    </div>
</div>
