<div class="row m-0 mt-2">
    {{> sidebar }}
    <main class="col-sm-12 col-md-9 mt-3">
                <div class="p-5 content bg-dark" id="admin_managment">
                    <h4>{{title}}</h4>
                    
                    <!-- PROFESORJI IN ASISTENTI-->
                    <div class="section-prof-asist">
                        <div class="row">
                            <div class="naslov-sekcije col-sm-11 col-md-11 col-xl-11">
                                <p class="text-dark"><b>OSEBJE</b></p>
                            </div>
                        </div>
                        <div class="podsekcije">
                            {{#each osebje}}
                            <div class="row">
                                <div class="ena-vrstica col-sm-10 col-md-9 col-xl-9">
                                    <p>
                                        <span style="float: left"><b>{{ ime_priimek }}</b></span>
                                        <span style="float: right">
                                            <a href="/osebje/{{ _id }}/nastavitve" style="color:black;">Uredi stran</a>
                                            <a href=""><i name="deleteOsebje" id="del{{ _id }}" class="far fa-trash-alt fa-lg" style="color:black;"></i></a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <button type="button" class="btn btn-success btn-dodaj" data-toggle="collapse" data-target="#showOsebjeAdd" aria-expanded="false">Dodaj</button>
                        <div id="showOsebjeAdd" class="collapse">
                            <form method="POST" action="/admin/osebje/nov">
                                <div class="form-prof-asist">
                                    <div class="form-group col-9">
                                        <label for="formAkademskiNazivInput">AKADEMSKI NAZIV</label>
                                        <select class="form-control" id="formAkademskiNazivInput" name="akademskiNaziv">
                                            <option>brez</option>
                                            <option>asistent</option>
                                            <option>docent</option>
                                            <option>profesor</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formIzobrazbaCustomInput">IZOBRAZBA</label>

                                        <input type="text" class="form-control" id="formIzobrazbaCustomInput" name="izobrazba" placeholder="npr. dipl. inž. rač. mat.">

                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formImeInPriimekInput">IME IN PRIIMEK</label>
                                        <input type="text" class="form-control" id="formImeInPriimekInput" name="ime_priimek" placeholder="Ime Priimek">
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formOpis">OPIS</label>
                                        <textarea class="form-control" id="formOpis" name="opis" rows="4" placeholder="Kratek opis izobrazbe, dela, področij raziskovanja."></textarea>
                                        <div class="btn-objavi">
                                            <button type="submit" class="btn btn-success" id="objavi-prof-asist">Objavi</button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning alert-dismissible fade show" id="alert-izobrazba" role="alert">
                                            Vpišite ustrezno izobrazbo.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning alert-dismissible fade show" id="alert-ime-priimek" role="alert">
                                            Vpišite ustrezno ime.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning alert-dismissible fade show" id="alert-prof-asist" role="alert">
                                            Izpolniti je potrebno vsa polja.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <!-- PREDMETI -->
                        <div class="section-predmeti">
                            <div class="row">
                                <div class="naslov-sekcije col-sm-11 col-md-11 col-xl-11">
                                    <p class="text-dark"><b>PREDMETI</b></p>
                                </div>
                            </div>
                            <div class="podsekcije">
                                {{#each predmeti}}
                                <div class="row">
                                    <div class="ena-vrstica col-sm-10 col-md-9 col-xl-9">
                                        <p>
                                            <span style="float: left"><b>{{ime}}</b></span>
                                            <span style="float: right">
                                                <a href="/predmeti/{{ _id }}/nastavitve" style="color:black;">Urejanje <i class="fas fa-edit"></i></a> 
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <button type="button" class="btn btn-success btn-dodaj" data-toggle="collapse" data-target="#showPredmetAdd" aria-expanded="false">Dodaj</button>
                            <div id="showPredmetAdd" class="collapse">
                            <form method="POST" action="/admin/predmeti/nov">
                                <div class="form-predmeti">
                                    <div class="form-group col-9">
                                        <label for="formImePredmetaInput">IME PREDMETA</label>
                                        <input type="text" class="form-control" name="ime" id="formImePredmetaInput">
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formOpisPredmetaInput">OPIS</label>
                                        <input type="text" class="form-control" name="opis"id="formOpisPredmetaInput">
                                    </div>
                                    <!--///////////// PROF DATALIST /////////////--->
                                    <label for="izberiProf" class="form-predmeti ml-3">Profesorji</label>
                                    <div class="input-group form-group ml-3">
                                        <input list="osebje" placeholder="Osebje" oninput="dodajProf()" id="profDropdown">
                                        <datalist id="osebje">
                                            {{#each osebje}}
                                                <option id="selectProfID{{ _id }}" value="{{ ime_priimek }}">
                                            {{/each}}
                                        </datalist>
                                        <div>
                                            <button type="button" id="deleteProf" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <input type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="profInput" value="" readonly>
                                    </div>
                                    <div class="form-group col-9 hidden">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="predmetProfesorji" id="profInputID" value="" readonly>
                                    </div>
                                    <!--///////////// ASISTENT DATALIST /////////////--->
                                    <label for="izberiAsistent" class="form-predmeti ml-3">Asistenti</label>
                                    <div class="input-group form-group ml-3">
                                        <input  list="osebje" placeholder="Osebje" oninput="dodajAsistent()" id="asistentDropdown">
                                        <datalist id="osebje">
                                            {{#each osebje}}
                                                <option id="selectAsistentID{{ _id }}" value="{{ ime_priimek }}">
                                            {{/each}}
                                        </datalist>
                                        <div>
                                            <button type="button" id="deleteAsistent" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                
                                    </div>
                                    <div class="form-group col-9">
                                        <input type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="asistentInput" value="" readonly>
                                    </div>
                                    <div class="btn-block mt-1 mr-5 hidden">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="predmetAsistenti" id="asistentInputID" value="" readonly>
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formLetnikInput">LETNIK</label>
                                        <select class="form-control" id="formLetnikInput" name="letnik">
                                            <option>1.</option>
                                            <option>2.</option>
                                            <option>3.</option>
                                            <option>Ni v letniku</option>
                                        </select>
                                    </div>
                                    <!--///////////// MODUL DATALIST /////////////--->
                                    <label for="izberiModul" class="form-predmeti ml-3">Moduli</label>
                                    <div class="input-group form-group ml-3">
                                        <input list="moduli" placeholder="Moduli" oninput="dodajModul()" id="moduliDropdown">
                                        <datalist id="moduli">
                                            {{#each moduli}}
                                                <option id="selectModulID{{ _id }}" value="{{ ime }}">
                                            {{/each}}
                                        </datalist>
                                        <div>
                                            <button  type="button" id="deleteModuli" class="btn btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <input type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="moduliInput" value="" readonly>
                                    </div>
                                    <div class="btn-block mt-1 mr-5 hidden">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="moduli" id="moduliInputID" value="" readonly>
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formVrstaIzbirnegaInput">VRSTA IZBIRNEGA PREDMETA</label>
                                        <select class="form-control" id="formVrstaIzbirnegaInput" name="vrstaIzbirnega">
                                            <option>Splošni izbirni predmet</option>
                                            <option>Strokovni izbirni predmet</option>
                                            <option>Ni izbirni predmet</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-9">
                                        <label for="formSemesterInput">SEMESTER</label>
                                        <select class="form-control" id="formSemesterInput" name="semester">
                                            <option>Zimski semester</option>
                                            <option>Letni semester</option>
                                        </select>
                                        <div class="btn-objavi">
                                            <button type="submit" class="btn btn-success" id="objavi-predmeti">Objavi</button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning alert-dismissible fade show" id="alert-predmeti" role="alert">
                                            Izpolniti je potrebno vsa polja.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                    <!-- MODULI -->
                    <div class="section-moduli">
                        <div class="row">
                            <div class="naslov-sekcije col-sm-11 col-md-11 col-xl-11">
                                <p class="text-dark"><b>MODULI</b></p>
                            </div>
                        </div>
                        <div class="podsekcije">
                            {{#each moduli}}
                            <div class="row">
                                <div class="ena-vrstica col-sm-10 col-md-9 col-xl-9">
                                    <span style="float: left"><b>{{ime}}</b></span>
                                    <span style="float: right">
                                        <a  href="" class="text-dark" data-toggle="collapse" data-target="#modul{{@index}}">Uredi ime</a>
                                        <a href="" ><i name="deleteModul" id="del{{ _id }}" class="far fa-trash-alt fa-lg" style="color:black;"></i></a>                
                                    </span>
                                </div>
                            </div>
                            <div id="modul{{@index}}" class="collapse  pl-2">
                                <form method="POST" action="/admin/moduli/{{_id}}">
                                <div class="form-moduli">
                                    <div class="form-group col-9">
                                        <label for="formImeModulaInput">Novo ime</label>
                                        <input type="text" class="form-control" id="novoImeModulaInput{{_id}}" name="novoIme">
                                        <div class="btn-objavi">
                                            <button type="submit" class="btn btn-success" onclick="return preveriNovoImeModul('{{_id}}')">Posodobi</button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning fade show" id="alert-moduli-posodobi-{{_id}}" role="alert">
                                            Ime modula ne sme biti prazno!
                                        </div>
                                    </div>
                                </div>
                                </form>    
                            </div>
                            {{/each}}
                        </div>


                        <button type="button" class="btn btn-success btn-dodaj" data-toggle="collapse" data-target="#showModulAdd" aria-expanded="false">Dodaj</button>
                        <div id="showModulAdd" class="collapse">
                            <form id="modulDodaj" method="POST" action="/admin/moduli/nov">
                                <div class="form-moduli">
                                    <div class="form-group col-9">
                                        <label for="formImeModulaInput">IME MODULA</label>
                                        <input type="text" class="form-control" id="formImeModulaInput" name="ime">
                                        <div class="btn-objavi">
                                            <button type="submit" class="btn btn-success" id="objavi-modul">Objavi</button>
                                        </div>
                                    </div>
                                    <div class="form-group col-9">
                                        <div style="margin-top:10px" class="alert alert-warning alert-dismissible fade show" id="alert-moduli" role="alert">
                                            Vpišite ime modula.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  
                </div>
                
            </main>
            
        <script>
            // gumb za prikazovanje/skrivanje obrazca za dodajanje profesorja ali asistenta
            function showDivProfAsist() {
                var x = document.getElementById('form-prof-asist-show-hide');
                if ( window.getComputedStyle(x, null).getPropertyValue("display") === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }
            // gumb za prikazovanje/skrivanje obrazca za dodajanje predmeta
            function showDivPredmet() {
                var x = document.getElementById('form-predmeti-show-hide');
                if ( window.getComputedStyle(x, null).getPropertyValue("display") === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }
        </script>
</div>

<script src="/public/js/admin_management.js"></script>