<body>
    <div class="row m-0 mt-2">
        {{> sidebar }}
        <main class="col-md-12 col-lg-9">
              <h2 class="mb-2 mt-2">Rezultati iskanja za: <small>"{{ iskalniIzraz }}"</small></h2>
               {{#if gradiva}}
               <table class="table table-dark table-striped table-hover text-center col-md-12">
                  <thead>
                      <tr>
                        <th>DATOTEKA</th>
                        <th>PREDMET</th>
                        <th>VELIKOST</th>
                      </tr>
                  </thead>
                  <tbobdy>
                      
                      {{#each gradiva}}
                       <tr>
                        <td><a class="text-light" href="/gradivo/{{_id}}">{{ime}}</a></td>
                        <td><a class="text-light" href="/predmet/{{predmet._id}}">{{predmet.ime}}</a></td>
                        <td>{{velikost}}</td>
                      </tr>
                      {{/each}}
                     
                  </tbobdy>
                </table>
                {{/if}}
                
                {{#if predmeti}}
                <table class="table table-dark table-striped table-hover text-center col-md-12">
                   <thead>
                    <tr>
                        <th>PREDMET</th>
                    </tr>
                    </thead>
                    {{#each predmeti}}
                    <tr>
                        <td><a class="text-light" href="/predmet/{{_id}}">{{ime}}</a></td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
                
                {{#if osebje}}
                <table class="table table-dark table-striped table-hover text-center col-md-12">
                   <thead>
                    <tr>
                        <th>PROFESORJI IN ASISTENTI</th>
                    </tr>
                    </thead>
                    {{#each osebje}}
                    <tr>
                        <td><a class="text-light" href="/osebje/{{_id}}">{{ime_priimek}}</a></td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}

                {{#ifLength osebje 0}}
                    {{#ifLength gradiva 0}}
                        {{#ifLength predmeti 0}}
                        <p>Za ta iskalni niz ni rezultatov</p>
                        {{/ifLength}}
                    {{/ifLength}}
                {{/ifLength}}
            </main>
    </div>
</body>