<body>
    <main class="container mt-3">
        <div class="content bg-dark">
            <div class = "p-3">
                <p class="h3 p-3">UREJANJE PREDMETA</p>
                    <div class="form-row col-md-12">
                        <!-- ime predmeta -->
                        <p id="predmetId" class="hidden">{{id}}</p>
                        <div class="form-group col-md-12">
                            <label for="imePredmeta">Ime Predmeta</label>
                            <input id="predmetNameInput" class="form-control" id="imePredmeta" value="{{ title }}">
                        </div>
                    </div>
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-4">
                            <label for="izberiLetnik">Letnik</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-block"  type="button"  id="izberiLetnik" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{formatirajIzpisNastavitev letnik 'letnik'}}</button>
                                <ul id="letnikDropdown" class="dropdown-menu btn-block" name="letnik">
                                    <li><a class="dropdown-item hoverNoLink" >1. letnik</a></li>
                                    <li><a class="dropdown-item hoverNoLink" >2. letnik</a></li>
                                    <li><a class="dropdown-item hoverNoLink" >3. letnik</a></li>
                                    <li><a class="dropdown-item hoverNoLink" >Ni v letniku</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="izberiSemester">Semester</label>
                            <div class="dropdown">
                
                                <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="izberiSemester" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{formatirajIzpisNastavitev semester 'semester'}}</button>
                                <ul id="semesterDropdown" class="dropdown-menu btn-block" name="semester">
                                    <li><a class="dropdown-item hoverNoLink">Zimski semester</a></li>
                                    <li><a class="dropdown-item hoverNoLink">Poletni semester</a></li>
                                </ul>
                
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="izberiTip">Tip</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="izberiTip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{formatirajIzpisNastavitev vrstaIzbirnega 'vrstaIzbirnega'}}</button>
                                <ul id="tipDropdown" class="dropdown-menu btn-block" name="vrstaIzbirnega">
                                    <li><a class="dropdown-item hoverNoLink">Strokovni izbirni predmet</a></li>
                                    <li><a class="dropdown-item hoverNoLink">Splošni izbirni predmet</a></li>
                                    <li><a class="dropdown-item hoverNoLink">Ni izbirni predmet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <label for="izberiProf" class="ml-3">Profesor/ji</label>
                    <div class="input-group form-group ml-3">
                        <input list="osebje" placeholder="Osebje" oninput="dodajProf()" id="profDropdown">
                        <datalist id="osebje">
                            {{#each osebje}}
                                <option id="selectProfesorId{{ _id }}" value="{{ ime_priimek }}">
                            {{/each}}
                        </datalist>
                        <div>
                            <button id="deleteProf" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <div class="btn-block mt-1 mr-5">
                            <input type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="profInput" value="{{#each profesorjiPredmeta}}{{ ime_priimek}}; {{/each}}" readonly>
                        </div>
                        <div class="btn-block mt-1 mr-5 hidden">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="predmetProfesorji" id="profInputId" value="{{#each profesorjiPredmeta}}{{ _id }}; {{/each}}" readonly>
                        </div>
                    </div>

                    <label for="izberiAsistent" class="ml-3">Asistent/i</label>
                    <div class="input-group form-group ml-3">
                        <input list="osebje" placeholder="Osebje" oninput="dodajAsistent()" id="asistentDropdown">
                        <datalist id="osebje">
                            {{#each osebje}}
                                <option id="selectAsistentId{{ _id }}" value="{{ ime_priimek}}">
                            {{/each}}
                        </datalist>
                        <div>
                            <button id="deleteAsistent" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>               
                        <div class="btn-block mt-1 mr-5">
                            <input type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="asistentInput" value="{{#each asistentiPredmeta}}{{ ime_priimek}}; {{/each}}" readonly>
                        </div>
                        <div class="btn-block mt-1 mr-5 hidden">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="predmetAsistenti" id="asistentInputId" value="{{#each asistentiPredmeta}}{{ _id }}; {{/each}}" readonly>
                        </div>
                    </div>

                    <label for="izberiModul" class="ml-3">Modul/i</label>
                    <div class="input-group form-group ml-3">
                        <input list="moduli" placeholder="Moduli" oninput="dodajModul()" id="modulDropdown">
                        <datalist id="moduli">
                            {{#each moduli}}
                                <option id="selectModulID{{ _id }}" value="{{ ime }}">
                            {{/each}}
                        </datalist>
                        <div>
                            <button id="deleteModul" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <div class="btn-block mt-1 mr-5">
                            <input id="modulInput" type="text" class="form-control form-dark" aria-label="Text input with dropdown button" id="izberiModul" value="{{#each moduliPredmeta}}{{ ime }}; {{/each}}" readonly>
                        </div>
                        <div class="btn-block mt-1 mr-5 hidden">
                            <input id="modulInputId" type="text" class="form-control" aria-label="Text input with dropdown button" name="predmetModuli" id="izberiModul" value="{{#each moduliPredmeta}}{{ _id }}; {{/each}}" readonly>
                        </div>
                    </div>

                    <div class="form-group ml-3 mr-4">
                        <label for="exampleFormControlTextarea1">Opis predmeta</label>
                        <textarea class="form-control" id="descInput" name="opis" rows="5">{{ opis }}</textarea>
                    </div>
                    <div class="form-group ml-3 mr-4">
                        <button id="shraniSpremembe" type="button" class="btn btn-success btn-block">Shrani</button>

                    </div>
                    <div class="form-group ml-3 mr-4">
                        <button id="izbrisiPredmet"type="button" class="btn btn-danger btn-block">Izbriši predmet</button>
                    </div>
        
                <!-- Input validation alerts-->
                <div class="alerts col-md-12">
                    <div class="alert alert-danger" id="emptyNameAlert" role="alert">
                        <span>Ime predmeta ne sme biti prazno.</span>
                    </div>
                    <div class="alert alert-danger" id="emptyProfAlert" role="alert">
                        <span>Predmet mora imeti vsaj enega profesorja.</span>
                    </div>
                    <div class="alert alert-danger" id="emptyDescAlert" role="alert">
                        <span>Opis predmeta ne sme biti prazen.</span>
                    </div>
                    <div class="alert alert-success" id="successAlert" role="alert">
                        <span>Predmet posodobljen!</span>
                    </div>
                </div>  
                
            </div>
        </div>
    </main>
    <script src="/public/js/predmetSettings.js"></script>
</body>
